<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!--每日同步的北京时间-->
    <add key="StockSyncTime" value="16" />
    <add key="ShStockCodesDirectory" value="股票代码\\sh" />
    <add key="SzStockCodesDirectory" value="股票代码\\sz" />
  </appSettings>
  <connectionStrings>
    <add name="StockDataContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=StockDataTest;uid=root;password=123456" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>  
</configuration>