<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="PF.DistributedService.OAuth2AuthorizationServer">
        <endpoint address="" binding="netTcpBinding" contract="Core.DistributedServices.OAuth2.IOAuth2AuthorizationServer" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9192/PredictFuture/OAuth2AuthorizationServer" />
          </baseAddresses>
        </host>
      </service>
      <service name="PF.DistributedService.AuthenticationService">
        <endpoint address="" binding="netTcpBinding" contract="PF.DistributedService.Contracts.UserContext.IAuthenticationService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9193/PredictFuture/AuthenticationService" />
          </baseAddresses>
        </host>
      </service>
      <service name="PF.DistributedService.CrosscuttingService">
        <endpoint address="" binding="netTcpBinding" contract="PF.DistributedService.Contracts.Crosscutting.ICrosscuttingService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9193/PredictFuture/CrosscuttingService" />
          </baseAddresses>
        </host>
      </service>
      <service name="PF.DistributedService.FinanceDataService">
        <endpoint address="" binding="netTcpBinding" contract="PF.DistributedService.Contracts.StockData.IFinanceDataService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9193/PredictFuture/FinanceDataService" />
          </baseAddresses>
        </host>
      </service>
      <service name="PF.DistributedService.PriceDataService">
        <endpoint address="" binding="netTcpBinding" contract="PF.DistributedService.Contracts.StockData.IPriceDataService" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9194/PredictFuture/FinanceDataService" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="RestServiceBehavior">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceMetadata/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
</configuration>
